# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
mlops_venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project Specific / MLOps
outputs/
wandb/
mlruns/
.dvc/cache
.dvc/tmp

# Plots (generated during training)
# plots/*.png

# Models & Data
# Keep .dvc files if you use DVC, but ignore raw large files if not tracked
models/*.ckpt
models/*.onnx
models/*.onnx.data
models/*.pt
data/*.csv

# Triton Model Repository (Binary files copies)
model_repository/**/model.onnx
model_repository/**/model.onnx.data

mlflow.db
*.db
mlruns/
mlartifacts/
outputs/
logs/
